{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <div class="card shadow p-4">

        <h2 class="mb-4 text-primary">
            <i class="bi bi-person-plus-fill"></i> Add Customer
        </h2>

        <form method="POST">

            <div class="mb-3">
                <label class="form-label">Customer Name</label>
                <input
                    type="text"
                    class="form-control"
                    name="name"
                    placeholder="Enter Customer Name"
                    required>
            </div>

            <div class="mb-3">
                <label class="form-label">Mobile Number</label>
                <input
                    type="text"
                    class="form-control"
                    name="mobile"
                    placeholder="Enter Mobile Number"
                    required>
            </div>

            <div class="mb-3">
                <label class="form-label">Vehicle Number</label>
                <input
                    type="text"
                    class="form-control"
                    name="vehicle_number"
                    placeholder="TN 01 AB 1234"
                    required>
            </div>

            <div class="mb-3">
                <label class="form-label">Vehicle Model</label>
                <input
                    type="text"
                    class="form-control"
                    name="vehicle_model"
                    placeholder="Honda Activa"
                    required>
            </div>

            <button class="btn btn-success">
                <i class="bi bi-check-circle-fill"></i>
                Save Customer
            </button>

            <a href="/customers" class="btn btn-secondary">
                Back
            </a>

        </form>

    </div>

</div>

{% endblock %}